/*
MAIN
*/
:root{
    --main-font: "Roboto";
    --main-font-weight: 700;
}

*{
    -webkit-user-drag: none;
}

body{
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    background-image: url("Images/PixelArt/BackgroundTile.png");
    background-size: 75px;
    image-rendering: pixelated;
}

#game-holder{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    transform: translate(0, 0);
}

@keyframes shake {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-1px, 0);
    }
    50% {
      transform: translate(1px, 0);
    }
    75% {
      transform: translate(-1px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
}

#sky{
    position: absolute;
    left: -10px;
    top: 0;
    width: 115%;
    height: 375px;
    image-rendering: pixelated;
    z-index: 91;
}
.outpost{
    position: absolute;
    left: -10px;
    width: 115%;
    height: 375px;
    image-rendering: pixelated;
    z-index: 91;
}

/*
PLAYER
*/
#player{
    width: 50px;
    height: 50px;
    z-index: 99;
}
#player-image{
    position: absolute;
    width: 105%;
    height: 125%;
    top: -15%;
    image-rendering: pixelated;
    filter: brightness(1) contrast(1.5);
}
#player-tool{
    position: absolute;
    width: 75%;
    height: 75%;
    left: 85%;
    top: 25%;
    translate: -50% -50%;
    transform-origin: 50% 100%;
    rotate: 75deg;
}

@keyframes tool-swing-right {
    0%{
        rotate: 75deg;
    }
    20%{
        rotate: 20deg;
    }
    80%{
        rotate: 100deg;
    }
    100%{
        rotate: 75deg;
    }
}

@keyframes tool-swing-left {
    0%{
        rotate: 105deg;
    }
    20%{
        rotate: 160deg;
    }
    80%{
        rotate: 80deg;
    }
    100%{
        rotate: 105deg;
    }
}

@keyframes drill-right {
    0%{
        rotate: 100deg;
    }
    100%{
        rotate: 100deg;
    }
}

@keyframes drill-left {
    0%{
        rotate: 80deg;
    }
    100%{
        rotate: 80deg;
    }
}

/*
TILES
*/
.block{
    position: absolute;
    background-color: grey;
}

.tile img{
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    position: absolute;
    -webkit-user-drag: none;
}

.selection-box{
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    -webkit-user-drag: none;
}
.damage-image{
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

@keyframes block-hit {
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}

.particle{
    position: absolute;
    z-index: 95;
    user-select: none;
    -webkit-user-select: none;
    image-rendering: pixelated;
}

#light-mask{
    overflow: visible;
}

/*
SELL
*/
#minecart{
    position: absolute;
    left: 1125px;
    top: 247px;
    z-index: 92;
}   
#minecart img{
    image-rendering: pixelated;
    width: 100px;
    position: relative;
}

.outpost-minecart{
    position: absolute;
    left: 1125px;
    z-index: 91;
}
.outpost-minecart img{
    image-rendering: pixelated;
    width: 100px;
    position: relative;
}

#cart-ores{
    position: absolute;
    left: -5px;
    bottom: 55px;
    rotate: 180deg;
    z-index: 0;
    max-width: 100px;
}
#cart-ores img{
    width: 45px;
    rotate: 180deg;
    margin: -12px;
}

.outpost-cart-ores{
    position: absolute;
    left: -5px;
    bottom: 55px;
    rotate: 180deg;
    z-index: 0;
    max-width: 100px;
}
.outpost-cart-ores img{
    width: 45px;
    rotate: 180deg;
    margin: -12px;
}

#sell-building{
    width: 350px;
    z-index: 92;
    position: absolute;
    left: 880px;
    top: 160px;
}

.outpost-sell-building{
    width: 350px;
    z-index: 92;
    position: absolute;
    left: 880px;
}

@keyframes minecart-sell {
    0%{
        left: 1125px;
    }
    50%{
        left: 950px;
    }
    100%{
        left: 1125px;
    }
}

/*
GUI
*/
#gui{
    z-index: 100;
    overflow: visible;
}

#stats{
    position: fixed;
    left: 5px;
    top: 5px;
    width: 150px;
    height: 175px;
    /*background-color: rgba(0, 0, 0, 0.75);*/
    /*border-radius: 15px;*/
    background-image: url("Images/PixelArt/StatFrameBackground.png");
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}
#storage-stat, #tool-stat, #depth-stat{
    width: 100%;
    height: 60px;
    position: relative;
    left: 0;
    top: 0;
}
#stats p{
    display: inline-block;
    font-size: 22.5px;
    color: white;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    margin-top: 5px;
    padding: 0;
    position: absolute;
    top: 0;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
}
#stats img{
    width: 50px;
    aspect-ratio: 1/1;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}
#depth-text{
    right: -20px;
}
#depth-stat{
    translate: -5px;
}
#stats p img{
    width: 35px;
    margin-top: 7.5px;
}

#fuel-bar-holder{
    background-color: white;
    width: 10px;
    height: 50px;
    z-index: 200;
    position: absolute;
    left: 65px;
    top: 5px;
}
#fuel-bar{
    background-color: rgb(29, 29, 29);
    width: 8px;
    height: 48px;
    position: absolute;
    left: 1px;
    bottom: 1px;
}

#grappling-hook-info{
    position: fixed;
    left: 5px;
    top: 185px;
    width: 150px;
    height: 60px;
    background-image: url("Images/PixelArt/KeyHintBackgroundWide.png");
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}
#grappling-hook-info img{
    display: inline-block;
    margin-left: 15px;
    margin-top: 5px;
}
#grappling-hook-info-img{
    width: 50px;
    aspect-ratio: 1/1;
}
#grappling-hook-info-key-img{
    position: absolute;
    right: 0;
    margin-right: 8px;
    width: 45px;
    aspect-ratio: 1/1;
    top: 2.5px;
}
#grappling-hook-info p{
    position: absolute;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    color: white;
    font-size: 25px;
    right: 24px;
    top: -9px;
    z-index: 2;
}

#lift-stat{
    width: 250px;
    height: 60px;
    background-image: url("Images/PixelArt/KeyHintBackgroundWide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 100;
}
#lift-stat p{
    display: inline-block;
    font-size: 22.5px;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    margin-top: 5px;
    padding: 0;
    position: absolute;
    top: 0;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    text-align: center;
}

#minecart-hint, #shop-trigger{
    width: 125px;
    height: 25px;
    background-image: url("Images/PixelArt/KeyHintBackgroundWide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    z-index: 91;
    position: absolute;
    left: 1112.5px;
    top: 250px;
}
#minecart-hint p, #shop-trigger p{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 12px;
    position: absolute;
    left: 7.5px;
    text-align: center;
    width: 100%;
    height: 100%;
    text-align: left;
    justify-content: center;
    top: -9px;
    z-index: 101;
}
#minecart-hint span, #shop-trigger span{
    margin-left: 22px;
    font-size: 14px;
}
#minecart-hint img, #shop-trigger img{
    image-rendering: pixelated;
    position: absolute;
    width: 17.5px;
    aspect-ratio: 1/1;
    right: 10px;
    top: 3px;
}

#shop-trigger span{
    margin-left: 37px;
}

#rescue-hint{
    width: 250px;
    height: 60px;
    background-image: url("Images/PixelArt/KeyHintBackgroundWide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    position: fixed;
    bottom: 70px;
    right: 5px;
    z-index: 100;
}
#rescue-hint span{
    margin-left: 118px;
}

#prompt{
    width: 450px;
    height: 200px;
    position: fixed;
    background-image: url("Images/PixelArt/InventoryBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 100;
}
#prompt h1{
    color: white;
    font: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 25px;
    position: relative;
    text-align: center;
}
#prompt p{
    color: white;
    font: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 20px;
    text-align: center;
    position: relative;
}
#prompt-cancel, #prompt-confirm{
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 225px;
    bottom: 0;
}
#prompt-cancel p, #prompt-confirm p{
    bottom: 10px;
}
#prompt-cancel p{
    text-align: left;
    margin-left: 10px;
}
#prompt-cancel span{
    margin-left: 20px;
} 
#prompt-cancel img{
    width: 30px;
    position: absolute;
    bottom: 5px;
    left: 57px;
    z-index: -1;
}
#prompt-confirm{
    right: 0;
}
#prompt-confirm p{
    text-align: right;
    margin-right: 20px;
}
#prompt-confirm span{
    margin-left: 20px;
}
#prompt-confirm img{
    width: 65px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    right: 12.5px;
    z-index: -1;
}

#inventory-hint{
    width: 250px;
    height: 60px;
    background-image: url("Images/PixelArt/KeyHintBackgroundWide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 100;
}
#inventory-hint p, #rescue-hint p{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 25px;
    position: absolute;
    left: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    text-align: left;
    justify-content: center;
    top: -10px;
    z-index: 101;
}
#inventory-hint span{
    margin-left: 97px;
}
#inventory-hint img, #rescue-hint img{
    image-rendering: pixelated;
    position: absolute;
    width: 40px;
    aspect-ratio: 1/1;
    right: 10px;
    top: 10px;
}

#inventory{
    width: 450px;
    height: 375px;
    position: fixed;
    background-image: url("Images/PixelArt/InventoryBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    top: 25%;
    left: 50%;
    translate: -50%;
    z-index: 100;
}
#inv-holder{
    position: absolute;
    height: 300px;
    width: 430px;
    left: 10px;
    top: 15px;
    scrollbar-color: white black;
    overflow-y: auto;
    overflow-x: hidden;
}
#inv-holder h1{
    margin: 0;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    color: white;
}
#inv-content, #inv-items{
    position: relative;
    width: 430px;
    overflow: hidden;
    image-rendering: pixelated;
}
#inv-holder::-webkit-scrollbar{
    border-radius: 0;
}
#inv-interaction, #inv-interaction2, #inv-interaction3, #inv-interaction4{
    position: absolute;
    bottom: 0;
    height: 40px;
}
#inv-interaction p, #inv-interaction2 p, #inv-interaction3 p, #inv-interaction4 p{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 25px;
    left: 5px;
    position: absolute;
    text-align: center;
    height: 40px;
    margin: 0;
    z-index: 101;
}
#inv-interaction span{
    margin-left: 28px;
}
#inv-interaction img, #inv-interaction2 img, #inv-interaction3 img, #inv-interaction4 img{
    image-rendering: pixelated;
    position: absolute;
    width: 40px;
    aspect-ratio: 1/1;
    bottom: 5px;
    left: 63px;
}
#inv-interaction h1{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 15px;
    height: 40px;
    text-align: center;
    position: absolute;
    left: 225px;
    translate: -50%;
    width: 200px;
    bottom: -16px;
}
#inv-interaction2, #inv-interaction3, #inv-interaction4{
    right: 97.5px;
}
#inv-interaction2 p, #inv-interaction3 p, #inv-interaction4 p{
    left: -10px;
}

.inv-item{
    width: 92.5px;
    height: 92.5px;
    margin: 2.5px;
    display: inline-block;
    background-image: url("Images/PixelArt/ItemBorder.png");
    background-repeat: no-repeat;
    background-size: 92.5px 92.5px;
    image-rendering: pixelated;
    position: relative;
}
.inv-item:hover{
    background-image: url("Images/PixelArt/ItemBorderHover.png");
    filter: brightness(1.1);
}
.inv-item div{
    background-color: white;
    width: 90%;
    height: 15px;
    position: absolute;
    bottom: 10%;
    left: 5%;
}
.inv-item div div{
    background-color: rgb(29, 29, 29);
    height: 90%;
    position: absolute;
    left: 2.5%;
    top: 5%;
}
.inv-item img{
    width: 92.5px;
    height: 92.5px;
    image-rendering: pixelated;
}
.inv-item p{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 25px;
    translate: 60% -225%;
    margin: -25px;
}
#inv-items img{
    width: 80px;
    height: 80px;
    left: 50%;
    position: absolute;
    translate: -50% -50%;
    top: 50%;
}
#inv-fix-item{
    margin: 70px;
    margin-left: 58px;
}

#inv-backpack-capacity{
    color: orange;
    translate: 39% 135%;
    font-size: 15px;
}

#sell-data{
    width: 200px;
    height: auto;
    position: fixed;
    background-image: url("Images/PixelArt/InventoryBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 100;
    visibility: hidden;
}
#sell-data-interaction{
    position: relative;
    bottom: 0;
    height: 40px;
}
#sell-data-interaction p{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 25px;
    left: 5px;
    position: absolute;
    text-align: center;
    height: 40px;
    margin: 0;
    z-index: 101;
}
#sell-data-interaction span{
    margin-left: 28px;
}
#sell-data-interaction img{
    image-rendering: pixelated;
    position: absolute;
    width: 40px;
    aspect-ratio: 1/1;
    bottom: 5px;
    left: 63px;
}
#sell-data-content p{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 16px;
    width: 100%;
    text-align: center;
}

#shop-trigger{
    position: absolute;
    z-index: 92;
    left: 455px;
    top: 200px;
    width: 125px;
    height: 25px;
}
#shop{
    width: 700px;
    height: 400px;
    position: fixed;
    background-image: url("Images/PixelArt/InventoryBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    top: 25%;
    left: 50%;
    translate: -50%;
    z-index: 100;
}
#shop-interaction{
    position: absolute;
    bottom: 0;
    height: 40px;
}
#shop-interaction p, #shop-interaction2 p{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 25px;
    left: 20px;
    position: absolute;
    text-align: center;
    height: 40px;
    margin: 0;
    z-index: 101;
}
#shop-interaction span{
    margin-left: 28px;
}
#shop-interaction img, #shop-interaction2 img{
    image-rendering: pixelated;
    position: absolute;
    width: 40px;
    aspect-ratio: 1/1;
    bottom: 5px;
    left: 78px;
}
#shop-interaction2 img{
    left: 650px;
}
#shop-interaction2 p{
    left: 595px;
    bottom: 0px;
}
.shop-container{
    height: 275px;
    width: 45%;
    margin-left: 2.7%;
    display: inline-block;
    margin-top: 65px;
    border: 2.5px solid white;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: white black;
    image-rendering: pixelated;
    font-size: 0;
    /*clip-path: polygon(
        5% 0%, 95% 0%, 95% 2.5%, 97.5% 2.5%, 97.5% 5%, 100% 5%, 100% 95%, 97.5% 95%, 97.5% 97.5%, 95% 97.5%, 95% 100%, 5% 100%, 5% 97.5%, 2.5% 97.5%, 2.5% 95%, 0% 95%, 0% 5%, 2.5% 5%, 2.5% 2.5%, 5% 2.5%
    );*/
}
.shop-container::-webkit-scrollbar{
    border-radius: 0;
}
.shop-container div{
    width: 88px;
    height: 120px;
    min-width: 88px;
    max-width: 88px;
    min-height: 120px;
    max-height: 120px;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid white;
    position: relative;
    cursor: pointer;
}
.shop-container div:hover{
    box-shadow: 0 0 0 3px white;
    background-color: rgb(41, 41, 41);
}
.shop-container div div{
    width: 90%;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
    min-width: 90%;
    max-width: 90%;
    margin: 0;
    display: block;
    border: none;
    background-color: white;
    left: 5.25%;
    position: absolute;
    top: 49%;
}
.shop-container div div div{
    left: 1%;
    top: 5%;
    height: 90%;
    min-height: 90%;
    max-height: 90%;
    background-color: rgb(29, 29, 29);
}
.shop-container div img{
    width: 60%;
    height: 44%;
    image-rendering: pixelated;
    position: relative;
    left: 50%;
    translate: -50%;
}
.shop-container div p{
    width: 100%;
    position: relative;
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 15px;
    text-align: center;
    top: -11px;
}
.shop-container div h1{
    width: 100%;
    position: absolute;
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 15px;
    text-align: center;
    bottom: 0;
    height: 41px;
    margin: 0;
}
.shop-header{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 25px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10px;
}
#header-shop{
    left: -300px;
}
#header-inv{
    left: 65px;
}
#header-money{
    left: -19px;
    text-align: right;
}

#ore-info{
    width: 150px;
    height: 100px;
    position: fixed;
    background-image: url("Images/PixelArt/InventoryBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 100;
    /*visibility: hidden;*/
}
#ore-info-text{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    left: 50%;
    translate: -50%;
    bottom: -7%;
    position: absolute;
    text-align: center;
}
#ore-info-img{
    width: 75px;
    height: 75px;
    left: 50%;
    translate: -50%;
    position: absolute;
}

@keyframes ore-fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#loading{
    background-color: black;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
#loading h1{
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    color: white;
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

#early-access{
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    color: white;
    z-index: 200;
    position: fixed;
    font-size: 15px;
    left: 50%;
    bottom: 1%;
    translate: -50%;
}